SECRET_KEY=django-insecure-24hcw7kuzs^ts%0um5pb!4e*)&nh$q_2w3f1_^@*rscy^#5a&k

DB_NAME=<имя БД>
DB_USER=<пользователь БД
DB_PASSWORD=<пароль БД>

BOT_TOKEN=<токен телеграм-бота>
BOT_CHAT_ID=<chat id телеграм-бота>
