{% extends "mainapp/base.html" %}

{% block title %}
Главная
{% endblock %}

{% block content %}
<div class="row">
    <h1>Dashboard</h1>
    <div>
        <table class="table table-bordered" id="dataTable">
            <thead>
            <tr align="center" bgcolor="#e2e1da">
                <th>TOTAL, USD</th>
                <th>TOTAL, RUR $</th>
            </tr>
            </thead>
            <tbody>
            <tr align="center" bgcolor="#f5f4ed">
                <td>{{ usd_total }}</td>
                <td>{{ rur_total }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <table class="table table-bordered" id="dataTable">
        <thead>
        <tr align="center" bgcolor="#e2e1da">
            <th>Номер заказа</th>
            <th>Цена, $</th>
            <th>Цена, руб</th>
            <th>Срок поставки</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in entries %}
        <tr align="center" bgcolor="#f5f4ed">
            <td>{{ entry.order_id }}</td>
            <td>{{ entry.usd_price }}</td>
            <td>{{ entry.rur_price }}</td>
            <td>{{ entry.delivery_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}