<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!--    {% block css %}-->
<!--    {% endblock %}-->

<!--    {% block js %}-->
<!--    {% endblock %}-->

</head>

<body>
    <div class="container">
        {% block header %}
            {% include "includes/inc_header_menu.html" %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            {% include "includes/inc_footer.html" %}
        {% endblock %}

    </div>

</body>

</html>